

<section class="top-banner" style="background-image: url(https://d30fzr2520l6g5.cloudfront.net/corp-images/features/ecommerce/banner-ecommerce.jpg);">
  <div class="top-banner-content">
    <div class="container">
      <div class="row row-default">
        <div class="col-md-8 col-md-offset-2">
          <div class="top-banner-header">
            <h2 text-uppercase>Provecta : {{'Ecommerce'|translate}}</h2>
            <h1 class="title">{{'The perfect ecommerce solution for retail'|translate}}.</h1>
            <p class="subtitle">{{'Open up your offline business to the world and increase sales'|translate}}.</p>
          </div>
        </div>
      </div>

      <!-- <div class="product-image-container mat-elevation-z6" > -->
        <img class="product-image img-responsive mat-elevation-z6 " src="/assets/img/shop_product_details.png"
          alt="ProvectaPOS Ecommerce">
      <!-- </div> -->

      <div class="buttons-footer">
        <div class="row ">
          <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
            <!-- <div class="button-group button-group-spaced"> -->
            <a href="https://provectapos.com/app/#/register" target="_blank" text-uppercase mat-raised-button color="primary">{{'Try Provecta for Free'|translate}}</a>

            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>