<mat-tab-group>

    <mat-tab label="{{'Log in'|translate}}">
        <div class="signin-container text-center">
            <form #loginForm="ngForm" novalidate (ngSubmit)="doLogin()">
                <mat-form-field>
                    <input type="email" name="email" required [(ngModel)]="login" matInput placeholder="{{'Email'|translate}}">
                </mat-form-field>

                <mat-form-field>
                    <input name="password" required type="password" [(ngModel)]="password" matInput placeholder="{{'Password'|translate}}">
                </mat-form-field>

                <hr>
                <div>
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6">
                        <div class="text-right">
                            <button [disabled]="loading" type="submit" text-uppercase mat-raised-button color="accent">

                                {{'Log in'|translate}}</button>
                        </div>

                    </div>
                </div>
            </form>


        </div>

    </mat-tab>
    <mat-tab label="{{'Register'|translate}}">
        <div class="signin-container text-center">
            <form #registerForm="ngForm" novalidate (ngSubmit)="doRegister()">
                <mat-form-field>
                    <input type="email" name="email" required [(ngModel)]="person.Email" matInput placeholder="{{'Email'|translate}}">
                </mat-form-field>
                <mat-form-field>
                    <input name="name" required [(ngModel)]="person.FirstName" matInput placeholder="{{'Name'|translate}}">
                </mat-form-field>
                <mat-form-field>
                    <input name="lastName" [(ngModel)]="person.LastName" matInput placeholder="{{'Surname'|translate}}">
                </mat-form-field>
                <mat-form-field>
                    <input name="password" required type="password" [(ngModel)]="password" matInput placeholder="{{'Password'|translate}}">
                </mat-form-field>

                <hr>
                <div class="text-right">
                    <button [disabled]="loading" type="submit" text-uppercase mat-raised-button color="accent">
                        {{'Register'|translate}}</button>
                </div>

            </form>


        </div>
    </mat-tab>
</mat-tab-group>
<hr>
<div class="social-buttons text-center">
    <h3>{{'or login using'|translate}}...</h3>
    <button [disabled]="loading" (click)="loginWithFacebook()" mat-raised-button class="social btn-facebook">
        <i class="fa fa-facebook-official "></i>Facebook</button>

</div>