// .container {
//   padding: 25px 0;

// }

// @media (max-width: 767px) {
//   .container {
//     padding: 0px;
//   }
// }


mat-card-footer{
  padding: 20px 0;
}

.gallery {
  height: 400px;
  overflow:hidden;
}
